<nav>
    <ul>
        <li><a href="/en/index.html">English</a> | </li>
        {# TODO: Add fr #}
        {# {% for language in languages %}
            <li><a href="/{{ language.code }}/index.html">{{ language.name }}</a> | </li>
        {% endfor %} #}
    </ul>
</nav>

