<nav>
    <ul>    
        {% for language in languages %}
        {# TODO: Only add /resume/ when it is built for prod and hosted on GH #}
            <li><a href="/resume/{{ language.code }}/">{{ language.name }}</a> | </li>
        {% endfor %}
    </ul>
</nav>

