<nav>
    <ul>    
        {% for language in languages %}
             {% if build.env == "development" %}
                <li><a href="/{{ language.code }}/index.html">{{ language.name }}</a> | </li>
            {% else %}
                <li><a href="/resume/{{ language.code }}/">{{ language.name }}</a> | </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>

